<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBia14x9h5dnB0CdyNADbHIwS6sDdmIr_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>413733823870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bap.menu</string>
	<key>PROJECT_ID</key>
	<string>shared-menu</string>
	<key>STORAGE_BUCKET</key>
	<string>shared-menu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413733823870:ios:550eabec2c7354e8bb7f2f</string>
</dict>
</plist>